h1 {
}

h2 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0;
  }
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {

  &.p--lg {
    font-size: 25px;
    letter-spacing: .1em;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
      letter-spacing: 0;
    }
  }

  &.p--md {
    font-size: 20px;
    line-height: 1.22;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &.p--sm {
    font-size: 16px;
    line-height: 1.22;
  }

  &.p--xs {
    font-size: 14px;
    line-height: 1.22;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
}
