.events-list {
  padding: 115px 0 70px;
  background: url(../img/events-bg.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    background-size: auto;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
    background-size: cover;
  }
}
