mixin events-list(data)
  .events-list&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-center.text-white.mb-40.mb-lg-75 Мероприятия
      .row
        .col-lg-4.col-sm-6.d-flex
          +event({
            picture: 'event-1.jpg',
            title: 'ПМЭФ'
          })
        .col-lg-4.col-sm-6.d-flex
          +event({
            picture: 'event-2.jpg',
            title: 'Название мероприятия в несколько строк'
          })
        .col-sm-4.d-flex.d-sm-none.d-lg-flex
          +event({
            picture: 'event-3.jpg',
            title: 'Название мероприятия в несколько строк три строки'
          })
      .text-center.mt-40.mt-lg-70
        a.btn.btn-secondary(href="#") Показать все
