mixin about(data)
  .about&attributes(attributes)
    .one
      .one__item.bg-primary(style="height: 80%; bottom: 0;")
      .one__item.bg-secondary(style="height: 50px; top: 20%; right: 0;")
      .one__item.bg-secondary(style="height: 50px; bottom: 0; right: 0;")
    .container
      .row
        .col-sm-3.d-flex.align-items-center.justify-content-sm-end
          h2.text-sm-right О нас
        .col-sm-7.offset-sm-2
          p.p--md Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому,
