mixin news(data)
  a.news(href="#")&attributes(attributes)
    .news__picture(style="background-image: url(./img/" + data.picture + ');')
    p.news__title.p--md.font-weight-bold.mb-25= data.title
    p.p--sm Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому.
