.news {
  color: #000;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &__picture {
    margin-bottom: 25px;
    padding-top: 54.05%;
    background-position: center;
    background-size: cover;
  }

  &__title {

    @include transition;
  }

  &:hover {
    color: #000;

    .news__title {
      color: $primary;
    }
  }
}
