/* Bootstrap */

.container {
  position: relative;
  z-index: 1;
}

.btn {
  padding: 14px 22.25px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
  }
}
