
include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/one/one.pug
include ../blocks/about/about.pug
include ../blocks/activity/activity.pug
include ../blocks/service/service.pug
include ../blocks/events-list/events-list.pug
include ../blocks/event/event.pug
include ../blocks/news-list/news-list.pug
include ../blocks/news/news.pug
include ../blocks/media/media.pug
include ../blocks/video/video.pug
include ../blocks/partners/partners.pug
include ../blocks/team/team.pug
include ../blocks/person/person.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug