.socials {
  display: flex;
  align-items: center;

  &__item {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .7;
    }

    & + & {
      margin-left: 13px;
    }

    &--vk {
      background-image: url(../img/vk.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--ig {
      background-image: url(../img/ig.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
