mixin team(data)
  .team&attributes(attributes)
    .container
      h2.text-center.text-lg-left Наша команда
      .team__slider
        +person({
          photo: 'person-1.png',
          name: ' Кузнецова Виктория Александровна'
        }).team__slider-item
        +person({
          photo: 'person-1.png',
          name: ' Кузнецов Виктор Александрович'
        }).team__slider-item
        +person({
          photo: 'person-1.png',
          name: ' Кузнецова Виктория Александровна'
        }).team__slider-item
        +person({
          photo: 'person-1.png',
          name: ' Кузнецова Виктория Александровна'
        }).team__slider-item
        +person({
          photo: 'person-1.png',
          name: ' Кузнецов Виктор Александрович'
        }).team__slider-item
        +person({
          photo: 'person-1.png',
          name: ' Кузнецова Виктория Александровна'
        }).team__slider-item
