.team {
  padding-top: 60px;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
  }

  .container {

    @include media-breakpoint-down(md) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__slider {
    margin-top: 20px;
  }

  &__slider-item {
    display: flex !important;
    width: 400px;
    flex-direction: column;
    align-items: center;
    opacity: .5;

    @include media-breakpoint-down(sm) {
      width: 100vw;
    }

    .person__photo {
      width: 200px;
    }

    .person__content {
      display: none;
    }

    &.slick-current {
      opacity: 1;

      &:nth-of-type(2) {
        opacity: .1 !important;
      }

      .person__photo {
        width: 255px;
      }

      .person__content {
        display: block;
      }
    }
  }

  .slick-track {

    @include transition;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 122px;
    height: 122px;
    font-size: 0;
    background-color: #fff;
    background-image: url(../img/arrow-long.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(sm) {
      top: 30%;
      width: 60px;
      height: 60px;
      background-size: 50%;
      box-shadow: 0 2px 7px rgba(0, 0, 0, .15);
    }

    &.slick-prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);

      @include media-breakpoint-down(sm) {
        box-shadow: 0 -2px 7px rgba(0, 0, 0, .15);
      }
    }

    &.slick-next {
      right: 0;
      transform: translateY(-50%);
    }
  }
}
