mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__wrapper
        .footer__contacts-list
          a.footer__contact.footer__contact--phone(href="tel:7(495)668-80-08") +7 (495) 668-80-08 доб.8005
          a.footer__contact.footer__contact--email(href="mailto:info@rusenter.com") info@rusenter.com
          a.footer__contact.footer__contact--address(href="#") Москва, Подсосенский переулок, д. 5, стр. 1
        +socials.my-40.my-lg-0.mx-lg-40
        img.footer__motto(src="./img/motto.png", alt)
