.footer {
  padding: 90px 0;
  background: url(../img/footer-bg.png) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__contacts-list {
  }

  &__contact {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #fff;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
      font-size: 16px;
      font-weight: 700;
    }

    &:before {
      margin-right: 30px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
    }

    &--phone {

      &:before {
        background: url(../img/phone.svg) no-repeat;
        background-size: contain;
      }
    }

    &--email {

      &:before {
        background: url(../img/email.svg) no-repeat;
        background-size: contain;
      }
    }

    &--address {

      &:before {
        background: url(../img/address.svg) no-repeat;
        background-size: contain;
      }
    }
  }

  &__motto {
    max-width: 100%;
  }
}
