.partners {
  position: relative;
  padding: 90px 0;
  background: #f6f4f4;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  &__item {
    margin-bottom: 30px;
    display: flex;
    max-width: 20%;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;

    @include media-breakpoint-down(sm) {
      max-width: 50%;
      flex-basis: 50%;
    }
  }

  &__item-logo {
    max-width: 100%;
  }
}
