mixin partners(data)
  .partners&attributes(attributes)
    .one
      .one__item.bg-white(style="height: 45%; top: 0;")
      .one__item.bg-white(style="height: 25%; bottom: 0;")
      .one__item.bg-white(style="height: 68px; top: 0; right: 0;")
      .one__item.bg-white(style="height: 70%; bottom: 0; right: 0;")
    .container
      h2.mb-40.mb-lg-90 Мы работаем вместе
      .row
        .col.partners__item
          img.partners__item-logo(src="./img/partner-1.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-2.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-1.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-2.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-1.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-2.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-1.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-2.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-1.png", alt)
        .col.partners__item
          img.partners__item-logo(src="./img/partner-2.png", alt)
