.event {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #000;

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &:hover {
    color: #000;

    .event__title {
      color: $primary;
    }
  }

  &__picture {
    padding-top: 85.68%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    padding: 25px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background: #fff;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__top {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    align-self: flex-start;
  }

  &__title {
    font-size: 20px;
    line-height: 1.22;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
