mixin event(data)
  a.event(href="#")&attributes(attributes)
    .event__picture(style="background-image: url(./img/" + data.picture + ");")
    .event__content
      .event__top
        .event__icon(style="background-image: url(./img/event-icon.png);")
        .event__title= data.title
      .event__bottom
        p.p--xs.mb-0 г. Санкт-Петербург
        p.p--xs.mb-0 10-15 июля 2019
