.media {
  position: relative;
  padding-top: 80px;
  padding-bottom: 55px;

  @include media-breakpoint-down(sm) {
    padding: 40px 0;
  }

  .container {

    @include media-breakpoint-down(lg) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__slider {
  }

  &__slider-item {
    position: relative;
    margin: 0 15px;
    width: 270px !important;
    opacity: .5;

    @include transition;

    &:focus {
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      width: calc(100vw - 30px) !important;
    }

    .video__content {

      &:before {
        display: none;
      }
    }

    .video__title {
      display: none;
    }

    &.slick-current {
      position: relative;
      width: 570px !important;
      opacity: 1;

      @include media-breakpoint-down(sm) {
        width: calc(100vw - 30px) !important;
      }

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        content: '';
        background: rgba(#000, .2);

        @include transition;
      }

      &:hover {

        &:before {
          opacity: 1;
        }
      }

      &:nth-of-type(2) {
        opacity: .1 !important;
      }

      .video__content {

        &:before {
          display: block;
        }
      }

      .video__title {
        display: block;
      }
    }
  }

  .slick-track {
    padding-bottom: 105px;
    display: flex !important;
    min-height: 425px;
    align-items: flex-end;

    @include transition;

    @include media-breakpoint-down(sm) {
      min-height: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 35px;
    font-size: 0;
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &.slick-prev {
      top: 65px;
      left: 135px;
      transform: rotate(180deg);
    }

    &.slick-next {
      top: 65px;
      right: 135px;
    }
  }

  .slick-dots {
    margin-bottom: 0;
    margin-left: 315px;
    padding-left: 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      justify-content: center;
    }

    li {
      list-style: none;

      & + li {
        margin-left: 20px;
      }

      button {
        width: 16px;
        height: 16px;
        font-size: 0;
        background: #fff;
        border: 1px solid $primary;
        border-radius: 50%;
      }

      &.slick-active {

        button {
          background: $primary;
        }
      }
    }
  }
}
