mixin media(data)
  .media&attributes(attributes)
    .one
      .one__item.bg-primary(style="height: 40%; top: 0;")
      .one__item.bg-secondary(style="height: 65%; bottom: 0; right: 0;")
    .container
      h2.text-center.mb-30 Медиа
      .media__slider
        +video.media__slider-item
        +video.media__slider-item
        +video.media__slider-item
        +video.media__slider-item
        +video.media__slider-item
        +video.media__slider-item
