.front {
  padding-bottom: 20vh;
  display: flex;
  min-height: 899px;
  align-items: flex-end;
  background: url(../img/front.jpg) no-repeat center;
  background-size: cover;

  @media screen and (max-height: 899px) {
    padding-bottom: 10vh;
    min-height: 700px;
    background-size: auto;
    //    align-items: center;
    //    padding: 100px 0;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 200px;
    padding-bottom: 100px;
    min-height: 0;
  }
}
