mixin front(data)
  .front&attributes(attributes)
    .container
      .row
        .col-12.col-lg-8
          h2.text-white.mb-15 Российский центр содействия молодежному предпринимательству
          p.p--lg.mb-0.text-white.font-weight-light Поддержка и развитие уникальных проектов в сфере молодежного предпринимательства
