.service {

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    margin-bottom: 25px;
  }
}
