mixin activity(data)
  .activity&attributes(attributes)
    .one
      .one__item.bg-white(style="height: 45%; top: 0;")
      .one__item.bg-white(style="height: 25%; bottom: 0;")
      .one__item.bg-white(style="height: 68px; top: 0; right: 0;")
      .one__item.bg-white(style="height: 70%; bottom: 0; right: 0;")
    .container
      .row
        .col-12
          h2.text-center.mb-40.mb-lg-100 Направление <br>деятельности
      .row
        .col-lg-3.col-sm-6
          +service({
            icon: 'service-1.svg',
            title: 'Содействие развитию молодежного предпринимательства'
          })
        .col-lg-3.col-sm-6
          +service({
            icon: 'service-2.svg',
            title: 'Профориентация'
          })
        .col-lg-3.col-sm-6
          +service({
            icon: 'service-3.svg',
            title: 'Организация и проведение молодежных дней на всероссийских и международных площадках'
          })
        .col-lg-3.col-sm-6
          +service({
            icon: 'service-4.svg',
            title: 'Рабочая молодежь'
          })
