mixin news-list(data)
  .news-list&attributes(attributes)
    .one
      .one__item.bg-white(style="height: 40%; top: 0;")
      .one__item.bg-white(style="height: 65%; bottom: 0; right: 0;")
    .container
      .row
        .col-12
          h2.mb-25 Новости
      .row
        .col-md-4
          +news({
            picture: 'news-1.jpg',
            title: 'Заголовок новости в одну или две строки'
          })
        .col-md-4
          +news({
            picture: 'news-2.jpg',
            title: 'Заголовок новости в одну'
          })
        .col-md-4
          +news({
            picture: 'news-3.jpg',
            title: 'Заголовок новости в одну или две строки'
          })
      .text-center.mt-25
        a.btn.btn-primary(href="#") Больше новостей
