mixin video(data)
  a.video(href="#video" data-fancybox)&attributes(attributes)
    .video__content(style="background-image: url(./img/video-1.jpg);")
      .video__time 1:40
    p.video__title.p--md.font-weight-bold Заголовок для видео с сокращением троеточием...
    video.video__media#video.fancybox-video
      source(src="./img/video.webm")
