.video {
  display: block;

  &__content {
    position: relative;
    padding-top: 56.14%;
    background-size: cover;
    border-radius: 10px;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 80px;
      height: 80px;
      content: '';
      background: url(../img/play.svg) no-repeat center;
      transform: translate(-50%, -50%);
    }
  }

  &__time {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 2.5px 12.3px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background: rgba(#000, .5);
    border-radius: 5px;
  }

  &__title {
    position: absolute;
    top: 100%;
    margin-top: 25px;
    max-width: 60%;
    color: #000;
  }

  &__media {
    display: none;
  }
}
