mixin person(data)
  .person&attributes(attributes)
    .person__photo(style="background-image: url(./img/" + data.photo + ");")
    .person__content
      p.p--md.font-weight-bold.mb-5= data.name
      p.p--sm.mb-0 Заместитель директора
