.person {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 255px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

    @include transition;

    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }

  &__content {
    position: absolute;
    bottom: 30px;
    left: 50%;
    padding: 17px;
    width: 370px;
    text-align: center;
    background: #fff;
    border: 3px solid $primary;
    border-radius: 10px;
    transform: translateX(-50%);

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
      width: 100%;
      max-width: calc(100% - 30px);
    }
  }
}
