.one {
  position: absolute;
  top: 0;
  left: 50%;
  width: 492px;
  height: 100%;
  transform: translateX(-50%);

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &__item {
    position: absolute;
    width: 25px;
  }
}
