mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      .menu__links-list
        a.menu__link(href="#") О нас
        a.menu__link(href="#") Мероприятия
        a.menu__link(href="#") Новости
        a.menu__link(href="#") Медиа
        a.menu__link(href="#") Партнеры
        a.menu__link(href="#") Контакты
