.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: contain;
    }

    &--active {
      position: relative;
      z-index: 1;
      background: url(../img/close.svg) no-repeat center;
      background-size: 70%;
    }
  }

  &__content {

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      padding: 80px 0 40px;
      display: none;
      overflow: auto;
      width: 100%;
      height: 100%;
      background: #333;
    }
  }

  &__links-list {
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-down(sm) {
      justify-content: flex-start;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid #4ab2db;

    @include transition;

    &:hover {
      color: #fff;
      border-color: transparent;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      font-size: 20px;
    }

    & + & {
      margin-left: 30px;

      @include media-breakpoint-down(md) {
        margin-top: 40px;
        margin-left: 0;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
    }
  }
}
