.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;

  @include transition;

  @include media-breakpoint-down(sm) {
    padding: 10px 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--fixed {
    position: fixed;
    background: #333;
  }
}
